@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --my-color-gris: #f5f5dc;
    --my-color-gris-fonce: #3d535f;
    --my-color-jaune: #ffe800;

}
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: 100;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* pre{ 
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: 100;
    font-weight: 500;
    color: var(--my-color-gris-fonce);
    font-size: 20px;
} */

.logos{
    display: flex;
    align-items: center;
  img {
    margin-right: 15px;
    border-radius: 100px;
  }
}
/* body{
    overflow: hidden;
} */
.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--my-color-gris);
}
.entete{
    position:fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 60px;
    line-height: 80px;
    z-index: 111;
    background-color: var(--my-color-gris);
    opacity: 10;
}
.logo{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    color: var(--my-color-gris-fonce);
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}
.logo span{
    color: var(--my-color-jaune);
}
.menu{
    display: flex;
}
.menu li{
    margin: 0 15px;
}
.menu li a{
    font-size: 17px;
    font-weight: 600;
    color:  #3d535f;
    letter-spacing: 1px;
    text-transform: capitalize;
    top: -10px;
    position: relative;
}
.reseaux a{
    font-size: 25px;
    color: var(--my-color-gris-fonce);
    margin: 8px 10px;
    letter-spacing: 3px;
    top: -10px;
    position: relative;
}
.menu li:hover a, .reseaux a:hover{
    color: rgb(202, 140, 96);
}
.coprs{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    overflow: hidden;
}
.cgauche, .cdroite{
    width: 50%;
}
.cgauche{
    z-index: 20;
}
.textB{
    display: block;
    position: relative;
    font-size: 30px;
    letter-spacing: 5px;
    color: var(--my-color-gris-fonce);
}
.textB::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgb(219, 142, 87);
}
h1{
    display: block;
    font-size: 3em;
    font-weight: 900;
    color: var(--my-color-gris-fonce);
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    text-align: justify;
    color: var(--my-color-gris-fonce);
}
.btn2{
    width: 100%;
    position: relative;
    left: 50px;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--my-color-gris-fonce);
    color: white;
    padding: 8px 14px;
    margin: 40px 5px;
    border-radius: 8px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 10px 10px rgb(180, 176, 176);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
button:hover{
    background-color: rgb(202, 140, 96);
    transform: translateY(-10px);
}
.groupeImg{
    position: relative;
    width: 100%;
    height: 100%;
}
.groupeImg img{
    position: relative;
    height: 100%;
    width: calc(70%);
    right: -25px;
    top: 5px;
    animation: animateImg 5s linear infinite;
    /* background-color: var(--my-color-gris); */
    border-radius: 1000px;
    padding: 30px 30px;
    /* animation: bounce 10s linear infinite alternate; */
}
/* @keyframes bounce{
    to{
        rotate: -360deg;
    }
} */
/* @keyframes animateImg{
    50%{
        right: 10px;
        top: 15px;
    }
} */
.groupeImg #idspl{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50px) rotate(-15deg);
    filter: saturate(200%);
    width: 160%;
    animation: animateSplash 5s linear infinite;
}
@keyframes animateSplash{
    50%{
        right: 37%;
        top: 60%;
        width: 155%;
    }
}
/* .coprs::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: linear-gradient(45deg,#ffe800,pink);
    left: 35%;
    top: 15%;
    animation: beforeAnime 6s linear infinite;
}
@keyframes beforeAnime{
    50%{
        left: -13;
        top: 41%;
    }
} */
.coprs::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,rgb(202, 140, 96),pink);
    left: 12%;
    top: 40%;
    animation: afterAnime 6s linear infinite;
}
@keyframes afterAnime{
    50%{
        left: 27%;
        top: 10%;
    }
}
#textDefil{
    color: rgb(202, 140, 96);
    font-weight: 900;
}
footer{
    background-color: var(--my-color-gris-fonce);
}
footer p{
    color: white;
    position: relative;
    top: 70px;
    margin: 20px;
}
footer .pied{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 300px; */
}
fieldset{
    background-image: url("images/OIP\ \(1\).jpeg");
    border: none;
    border-radius: 20px;
}
footer .pied fieldset{
    padding: 50px 50px 20px 50px;
    color: white;
}
legend{
    font-weight: 800;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center  ;
}


/* Media query pour iPhone 13 Pro Max */
@media only screen and (max-width: 430px) {
    body {
        font-size: 12px; /* Ajuste la taille de la police pour les petits écrans */
        overflow-x: hidden;
        background-color: var(--my-color-gris);
    }

    .container {
        padding: 5px;
    }

    .entete {
        flex-direction: column;
        line-height: normal;
        text-align:right;
        background-color: purple;
    }
    .logos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logos img{
        width: 25px;
        height: 25px;
    }
    .logo{
        font-size: 15px;
        color: red;
    }
    #textDefil{
        color: purple;
    }
    .textB{
        font-weight: 900;
    }
    .cgauche p{
        font-size: 20px;
    }
    .menu {
        align-items: center;
        justify-content: center;
        display:flex;
        gap: 20px;
        margin: 10px 5px 0px 0px;
    }
    .menu li a{
        font-size: 10px;
        text-transform: uppercase;
        color: white;
    }
    /* .menu li a:hover{
        text-decoration: underline;
    } */
    .menu li {
        margin: 0px 0 0px 5px;
        color: blue;
    }
    .reseaux{
        gap: 1px;
        display: block;
        margin: 400px 0px 20px 15%;
    }
    .reseaux a{
        display: block;
        justify-content: right;
        align-items: center;
        color: purple;
        margin: 10px 0px 20px 90%;
    }
    .reseaux a:hover{
        color: blue;
    }
    button{
        font-size: 15px; /* Réduit la taille des boutons */
        display: block;
        align-items: center;
        justify-content: center;
        background-color: purple;
    }
    button:hover{
        background-color: blue;
    }


    .coprs {
        flex-direction: column;
        padding: 20px;
    }

    .cgauche{
        width: 100%;
        display: block;
        font-size: 14px;
    }
    /* .cdroite{
        display: flex;
        align-items: center;
        justify-content: center;
    } */
     
    h1 {
        font-size: 2em; /* Réduit la taille du titre */
    }
    .groupeImg img {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 2px 2px;
    }
    .groupeImg{
        background-color: lightblue;
        border-radius: 200px;
    }

    /* ------------------media suite---------------- */

    #about {
        padding: 10px;
      }
    
      #about button {
        position: relative;
        top: -135px;
        font-size: 10px;
        padding: 6px 12px;
        border-radius: 0px;
        right: 25px;
      }
      .profil {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }    
      .profil .ti{
        font-size: 50px;
      }
    
     #about .profil p {
        position: relative;
        top: -100px; /* monte de 20px */
        margin-left: 300px;
        display: block;
        width: 100%;
    }        
      .rezeau h2 {
        font-size: 18px;
      }
    
      .rezeau p {
        position: relative;
        font-size: 14px;
        right: 400px;
      }
    
      #about img.rot {
        position: relative;
        top: -220px;
        right: -155px;
        border-radius: 1px;
        border-width: 0px;
        width: 80px;
        height: 50px;
        animation: none;
      }
    
      .return a {
        font-size: 20px;
        top: 10px;
        left: 10px;
      }
}


/* -----------------------suite------------------------------------- */

#about{
    margin: 3px;
    /* border-radius: 5px;
    border: solid; */
    padding: 115px 115px;
    border-width: 1px;
    border-color: rgb(228, 215, 215);
    /* box-shadow: 0 4px 8px rgba(32, 32, 32, 0.2); */
}
.return{
    position: relative;
    top: -60px;
}
.return a{
    position:absolute;
    font-size: 30px;
    top: -40px;
    left: -80px;
}

#about .profil p {
    position: relative;
    top: -250px; /* monte de 20px */
    margin-left: 300px;
    display: block;
    width: 70%;
}
.ti{
    font-size: 100px;
    font-weight: 900;
}
#about img{
    width: 250px;
    height: 250px;
    border: solid;
    border-width: 10px;
    margin: 10px 0px 0px 0px;
    border-color: rgb(228, 215, 215);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: thibaut 15s linear infinite;
    /* transform: translateY(0);
    transition: transform 0.3s ease-in-out; */
}
@keyframes thibaut{
    50%{
        rotate: -360deg;
        border-color: var(--my-color-gris-fonce);
        box-shadow: 0 4px 8px rgba(32, 32, 32, 0.2);
    }
}

.rezeau {
    position: relative;   /* Nécessaire pour que top fonctionne */
    top: -350px;             /* 50px vers le bas */
    margin-left: 489px;
    gap: 5px;
}
.rezeau h2{
    position: relative;
    top: -200px;
    margin-left: 50px;
}

#skills {
    height: auto; /* ✅ ou pas de hauteur du tout */
    overflow: visible;
    scroll-margin-top: 80px; /* pour éviter qu'un header fixe ne cache */
    padding-bottom: 100px;   /* pour laisser de la place en bas */
  }  